In [1]:
import pandas as pd

import plotly.express as px
import plotly
import plotly.graph_objects as go
import plotly.figure_factory as ff


import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import confusion_matrix

C:\Users\dhruv\anaconda3\envs\ml\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\dhruv\anaconda3\envs\ml\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
df =pd.read_csv('./../data/df_train_all_pred.csv')

In [3]:
cols = ['churn','pred_churn']

df[cols]

      churn  pred_churn
0     False       False
1     False       False
2      True       False
3      True       False
4     False       False
...     ...         ...
9995  False       False
9996  False       False
9997  False       False
9998  False       False
9999  False       False

[10000 rows x 2 columns]